#meme-image-container {
  box-sizing: border-box;
  display:block;
  position:relative;
  width: 50px;
  height: 50px;
 
   
}

#meme-image{
    overflow: none;
}

#image {
      
        width: 1000px;
        z-index: 1;
        
}
#meme-text{
    position: absolute;
    z-index: 3;
}

#meme-image-container{
    overflow: none;

}

#image {
    position: fixed;
    z-index: 1;
}