#meme-image-container {
    background: white;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    z-index: 4;
    border: 1px solid black;

}

#meme-image{
    overflow: scroll;
}

img {
z-index: 1;
width:100%;
height:100%;
z-index: 1;
pos

}

#meme-image-container{
    height: 250px;
    width: 250px;
}

#meme-text {
    z-index: 3;
    position: absolute;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);;
    font-size: 30px;
    color: white;
    
}

#fire {

    border: 3px ;
    border-style: dashed;
    border-color:rgb(255, 0, 0) ;

}

#water {
    border: 5px ;
    border-style: dashed;
    border-color:rgb(0, 0, 255) ;
   
}

#earth {
    border: 6px ;
    border-style: dashed;
    border-color:rgb(0, 128, 0) ;
   
}

